.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #89FAFF;

    .footer-contents {
        display: flex;
        width: 96%;
        //max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }
}