.header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #89FAFF;
    z-index: 101;

    .header-contents {
        display: flex;
        width: 96%;
        //max-width: 1100px;
        height: 100%;
        margin: auto 32px;
        align-items: center;
        justify-content: space-between;
    }

    .header-navigation-bar {
        ul {
            display: flex;
            list-style: none;

            li + li {
                margin-left: 30px;
            }
        }
    }

    .header-logo {
        width: 60px;
        height: 63px;
        transform: scaleX(-1);
    }
}