.project-layout-view {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;

    .project-daily-list-view {
        .project-daily-list {
            list-style-type: none;

            .project-daily-item-checkbox {
                padding: 8px;
            }

            .project-daily-item-button {
                padding: 8px 5px;
            }
        }
    }
}