@import "fonts/font.scss";

body {
  margin: 0;
  font-family: 'Pretendard Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Pretendard Medium', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-green-color: #45CB6D;
  --green-10-color: #DAF5E2;
  --green-20-color: #A2E5B6;
  --green-30-color: #69D58A;
  --green-70-color: #36A257;
  --green-80-color: #226637;
  --green-90-color: #0E2916;
  --secondary-blue-color: #5481E6;
  --blue-20-color: #AAC0F2;
  --gray-100-color: #FEFEFE;
  --gray-200-color: #F5F6F7;
  --gray-300-color: #E4E7EB;
  --gray-400-color: #CBCFD4;
  --gray-500-color: #909499;
  --gray-600-color: #6D7175;
  --gray-700-color: #494C4F;
  --gray-800-color: #2E3033;
  --gray-900-color: #17181A;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --error-color: #DC362E;

  --repeat-color: #fa9741;
  --daily-color: #69D58A;
  --weekly-color: #5481E6;
  --eventually-color: #DC362E;

  --death-knight-color: #c41f3b;
  --demon-hunter-color: #a330c9;
  --druid-color: #ff7d0a;
  --evoker-color: #33937f;
  --hunter-color: #abd473;
  --mage-color: #69ccf0;
  --monk-color: #00ff96;
  --paladin-color: #f58cba;
  --priest-color: #fff;
  --rogue-color: #fff569;
  --shaman-color: #0070de;
  --warlock-color: #9482c9;
  --warrior-color: #c79c6e;

  --death-knight-bg-color: #c41f3b55;
  --demon-hunter-bg-color: #a330c955;
  --druid-bg-color: #ff7d0a55;
  --evoker-bg-color: #33937f55;
  --hunter-bg-color: #abd47355;
  --mage-bg-color: #69ccf055;
  --monk-bg-color: #00ff9655;
  --paladin-bg-color: #f58cba55;
  --priest-bg-color: #ffffff55;
  --rogue-bg-color: #fff56955;
  --shaman-bg-color: #0070de55;
  --warlock-bg-color: #9482c955;
  --warrior-bg-color: #c79c6e55;

  --header-height: 80px;
  --footer-height: 80px;

  iframe {
    display: none;
  }
}